.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 158px;
  background-color: var(--whiteColor);
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}

.modalContent button:not(:last-child) {
  border-bottom: 1px solid var(--outlineColor);
}

.modalContent button:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  color: var(--titleColor);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modalContent button:first-child:hover {
  color: var(--textColor);
}

.modalContent button:not(:last-child):hover {
  border-bottom: 1px solid var(--bgcBtn);
}

.btn {
  background-color: var(--whiteColor);
  color: var(--bgcBtnDisabled);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.btn:hover {
  background-color: var(--whiteColor);
  color: var(--bgcBtn);
}

.icon {
  margin-right: 8px;
  stroke: var(--titleColor);
  transition: linear 0.3s;
}

.btn:hover svg {
  stroke: var(--textColor);
}
