img {
  max-width: 100%;
  height: auto;
}
.container {
  background: url("../../images/bg.png") repeat;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 42px 24px;
  /* max-width: 480px; */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .inner {
    padding: 42px 40px;
    /* max-width: 1280px; */
  }
}

@media (min-width: 1280px) {
  .inner {
    padding: 42px 80px;
  }
}

.eventCardContainer {
  width: 100%;
  max-width: 480px;
}

@media (min-width: 768px) {
  .eventCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
  }
}

.title {
  text-align: left;
  color: var(--titleColor);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.eventCard {
  background-color: var(--whiteColor);
}

@media (min-width: 768px) {
  .eventCard {
    width: 688px;
  }
}

@media (min-width: 1280px) {
  .eventCard {
    width: 628px;
  }
}

.img {
  border-radius: 8px;
}

.eventCardInfo {
  padding: 24px 16px 40px 16px;
}

@media (min-width: 768px) {
  .eventCardInfo {
    padding: 24px 24px 40px 24px;
  }
}

@media (min-width: 1280px) {
  .eventCardInfo {
    padding: 20px 16px 40px 10px;
  }
}

.description {
  color: var(--textEventCardColor);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 24px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.category {
  color: var(--textColor);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  padding: 6px 12px;
}

.priority {
  color: var(--textColor);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  padding: 6px 12px;
}

.location {
  color: var(--textColor);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  padding: 6px 12px;
}

.time {
  border-radius: 8px;
  background: var(--whiteColor);
  box-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  padding: 6px 12px;
  color: var(--textColor);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .btns {
    justify-content: flex-end;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .btns {
    justify-content: flex-end;
    gap: 16px;
    margin-right: 40px;
  }
}

.edit {
  width: 108px;
  border-radius: 8px;
  background-color: var(--whiteColor);
  color: var(--textColor);
  border: 1px solid var(--textColor);
  padding: 8px 16px;
  text-decoration: none;
  transition: linear 0.3s;
  text-align: center;
}

.edit:hover {
  background: var(--bgcBtnHover);
  color: var(--whiteColor);
}

.delete {
  border-radius: 8px;
}

.low-priority {
  color: var(--lowPriority);
}

.medium-priority {
  color: var(--mediumPriority);
}

.high-priority {
  color: var(--highPriority);
}
