:root {
  --whiteColor: #fff;
  --bgcHeader: #fefcff;
  --titleColor: #3f3f3f;
  --titleEventCardColor: #1c1b1f;
  --textEventCardColor: #49454f;
  --textColor: #7b61ff;
  --bgcBtn: #7b61ff;
  --bgcBtnHover: #6243ff;
  --bgcBtnDisabled: #aca7c3;
  --outlineColor: #aca7c3;
  --highPriority: #ff2b77;
  --mediumPriority: #e2a300;
  --lowPriority: #6bd475;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: var(--bgcBtn);
  color: var(--whiteColor);
  cursor: pointer;
  padding: 16px 12px;
  outline: none;
  border: none;
  font-family: "Poppins";
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: linear 0.3s;
}

button:hover {
  background: var(--bgcBtnHover);
  color: var(--whiteColor);
  cursor: pointer;
}

button:disabled {
  border-radius: 8px;
  background: var(--bgcBtnDisabled);
  color: var(--whiteColor);
}
